body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #E2F3FB, #F4F5FF);
}

/* Accent Color */
.text-accent {
  color: #2196F3;
}

/* Inputs */
.custom-input {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 10px 12px;
  font-size: 14px;
}
.custom-input:focus {
  border-color: #00796b;
  box-shadow: 0 0 5px rgba(0,121,107,0.5);
  outline: none; /* optional to remove default focus outline */
}


/* Sign Up Button */
.btn-signup {
  height:32px;
  width: 75px;
  background-color: #009688;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  border-radius: 25px;
  padding: 0;
  transition: 0.2s;
}

.btn-signup:hover {
  background-color: #00796b;
  color: #fff;
}


.custom-row {
  width: 1123px;
  height: 767px;
  margin: 0 auto; 
}

.heading {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  margin: 0;
}

.heading .bold {
  font-weight: 800;   /* Bold */
}

.heading .light {
  font-weight: 100;   /* Light */
}

.heading .accent {
  color: #05847D;
}

.subtext {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: #2c2c2c;
  line-height: 1.4;
  margin-top: 12px;
}

label {
  display: block;
  margin-bottom: 0.7rem;
}

.copy{
  color: #6e6e6e;
  margin-top: 80px;
  font-size: 12px;
}

.form-check-input:checked {
  background-color: #00796b;
  border-color: #00796b;
}

/* --------- Tablet (768px to 1023px) --------- */
@media (max-width: 1023px) {
  .custom-row {
    width: 95%;
    height: auto;
    margin: 20px auto;
  }

  .heading {
    font-size: 20px;
    text-align: center;
  }

  .subtext {
    font-size: 16px;
    text-align: center;
  }

  .illustration img {
    margin: 20px auto 0 auto; /* center */
    display: block;
    max-width: 70%;
  }

  .copy {
    margin-top: 40px;
    font-size: 11px;
    text-align: center;
  }

  .btn-signup {
    width: 100px;
    height: 36px;
    font-size: 13px;
  }
}

/* --------- Mobile (≤767px) --------- */
@media (max-width: 767px) {
  .container-fluid {
    padding: 15px 1px !important;
  }

  .custom-row {
    flex-direction: column;
    width: 94% !important;
    height: auto;
    margin: 15px auto;
    border-radius: 8px;
  }

  .col-md-6 {
    width: 100%;
    padding: 20px;
    text-align: center;
    align-items: center !important;
    margin-left: -36px;
  }

  .heading {
    font-size: 18px;
  }

  .subtext {
    font-size: 14px;
  }

  .illustration img {
    margin: 20px auto;
    display: block;
    max-width: 60%; /* smaller on mobile */
  }

  .copy {
    margin-top: 20px;
    font-size: 10px;
    text-align: center;
  }

  .custom-input {
    font-size: 13px;
    padding: 8px 10px;
  }

  .btn-signup {
    width: 30%;
    height: 36px;
    font-size: 13px;
    border-radius: 20px;
  }
}
